.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.PokemonDetail{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PokemonDetail-id{
    color: #BEBEBE;
    font-size: 20px;
    font-weight: normal;
    margin-top: 0px;
}

.PokemonDetail-name{
    font-size: 50px;
    color: #6d6d6d;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 0;
}

.PokemonDetail-flavortext{
    font-size: 18px;
    font-weight: normal;
    color: #6d6d6d;
    text-align: center;
    margin: 0;
}

.flavor-wrapper{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flavor-bg{
    height: 45px;
    width: 45px;
    border-style: solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 3px;
}

.flavor{
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.PokemonDetail-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Pokemon-sprites {
    height: 650px;
    width: 650px;
    object-fit: contain;
}

.PokemonDetail-profile {
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.Pokemon-profile-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-right: 30px;
}

.Pokemon-title-wrap{
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.Pokemon-title-desc{
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 5px;
}

.profile-title {
    font-size: 20px;
    font-weight: 500;
    color: #505050;
}

.PokemonDetail-status {
    width: 450px;
    height: 100px;
    background-color: #6d6d6d;
}

.Pokemon-profile-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.profile-desc {
    font-size: 20px;
    font-weight: 200;
}

.profile-abilities {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ability {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    color: white;
}